{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>Project | Dissnitt</title>
<link rel="stylesheet" href="{% static 'todo/css/todo.css' %}">
{% endblock %}

{% block page_header %}<h1>Create New Project</h1>{% endblock %}


{% block content %}
<div class="project_form">
    <form method="POST">{% csrf_token %}

        <table>
            <tr>
                <td>
                    {{ form.non_field_errors }}
                    {{ form.project_name.errors }}
                    {{ form.project_name.label_tag }}
                </td>
                <td >
                    {{ form.project_name }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.priority.errors }}
                    {{ form.priority.label_tag }}
                </td>
                <td>
                    {{ form.priority }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.description.errors }}
                    {{ form.description.label_tag }}
                </td>
                <td>
                    {{ form.description }}
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center;" >
                    <button class="pbutton" type="submit" >Create Project</button>
                </td>
            </tr>
            </table>
    </form>
</div>
{% endblock %}