div.crypto_index a {
                     text-decoration: none;
                     color: #8da4bf;
                     font-size:1.2em;}

div.crypto_index { margin: auto;
                   width: 80%;
                   padding-top: 1%;}

div.tf_div {
        text-align: center;
        padding-top: 1%;
}

div.bitp {
    width: 30%;
}

.bitp table {
    text-align: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 1px solid black;
}

.profit {
    background-color: green;
    color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    border-collapse: collapse;
    font-size: 1.5em;
}

input[type=number] {
                    border-style:none;
                    border: 2px solid #8da4bf;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    width: 10%;
                    font-size: 1.3em;
                    color: #8da4bf;
                    text-align: center;
                  }

.tfbutton {
           width: 20%;
           height: 30px;
           border-radius: 8px;
           text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
           background-color: #5487AC;
           color: white;
           font-size: 0.8em;
}
