.env
pac
.idea/
vir/
*.pyc
dissnitt/todo/__pycache__/*
dissnitt/db.sqlite3
dissnitt/todo/templatetags/__pycache__/*
dissnitt/dissnitt/__pycache__/*
dissnitt/mylogin/__pycache__/*
dissnitt/mylogin/migrations/
dissnitt/notes/migrations/
pac
