body { background-color: #8da4bf;}

.login { width: 20%;
         margin-left: 36%;
         margin-top: 10%;
         padding: 2%;
         color: white;
         text-align: center;
         font-family: 'Quicksand', sans-serif;
        }

.login p { font-size: 1.4em;
           }

.login button { width: 50%;
                font-size: 0.9em;
                color: #8da4bf;
                border-radius: 10px;
                background-color: white;
                }

input[type=text] {
                    border-style:none;
                    border: 2px solid #8da4bf;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    width: 60%;
                    font-size: 0.8em;
                    color: #8da4bf;
                    }

input[type=password] {
                    border-style:none;
                    border: 2px solid #8da4bf;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    width: 60%;
                    font-size: 0.8em;
                    color: #8da4bf;
                    }