{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <title>Crypto | Dissnitt</title>
    <link rel="stylesheet" href="{% static 'crypto/css/crypto.css' %}">
    <script type="text/javascript" src="{% static 'crypto/javascript/crypto.js' %}" ></script>
{% endblock %}
{% block page_header %}
    <h1>Crypto Stuff</h1>
{% endblock %}
{% block content %}
<div class="crypto_index">
    <div class="bitp" id="btc_d">
        <table>
            <tr>
                <th class="static">BitCoin/ USD</th>
            </tr>
            <tr>
                <td class="pbtc_usd" >$ {{ profit|floatformat:2 }}</td>
            </tr>
            <tr>
                <td class="pbtc_usd">{{ pp|floatformat:2 }} %</td>
            </tr>
            <tr>
                <td class="static">{{ dir }}</td>
            </tr>
            <tr>
                <td class="tlink"><a href="{% url 'crypto:btc' %}">View Data</a></td>
            </tr>
        </table>
    </div>
</div>
<script>
    document.getElementById("btc_d").addEventListener("load", profitBGcolor('pbtc_usd', '{{ profit}}'));

</script>
{% endblock %}
