{% load staticfiles %}

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mylogin/css/base.css' %}">
    <script type="text/javascript" src="{% static 'todo/javascript/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/javascript/jquery.colorbox.js' %}"></script>
</head>
<head>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="ppage">
        <div class="header">
            <div class="hcorner">
                <h1>CharlieI.org</h1>
            </div>
            <div class="page_header">
                {% block page_header %}{% endblock %}
            </div>
        </div>
        <div class="side">
            <div class="side_navigation">
                <a href="{% url 'mylogin:logout' %}">Logout</a>
                <br/>
                <a href="{% url 'mylogin:home' %}">Home</a>
                <br/>
                <a href="{% url 'todo:index' %}">Projects</a>
                <br/>
                <a href="{% url 'notes:index' %}">Notes</a>
                <br/>
                <a href="{% url 'crypto:index' %}">Crypto</a>
                {% block sidepage %}
                {% endblock %}
            </div>
        </div>

        <div class="main">
            {% block content %}
            {% endblock %}

        </div>
    </div>
</body>
</html>