div.todo_info {
               margin-top: 5%;
               margin-left: 10%;
               }

div.todo_info table {
                      width: 90%;
                      text-align: center;
                      border-collapse: collapse;
                      color:  #8da4bf;
                      font-size: 1.2em;
                    }


tr.todo_table_header th {
                           border-bottom: 2px solid #426984;
                           padding-bottom: 5px;
                        }


table.projects td {
                    vertical-align: top;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }

table.projects a {
                    text-decoration: none;
                }


td.btd {
            width: 2%;
            text-align: right;
            line-height: 1em;
        }

td.btd a {
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
            color: #304c89;
          }

th.btd {
            width: 2%;
            text-align: left;
        }

td.ptd  {
         width: 3%;
         text-align: center;

        }
th.ptd {
         width: 3%;
        }

td.ntd {
        width: 23%;
        text-align: left;

        }

th.ntd {
        width: 23%;

        }

td.ctd {
         width: 10%;
        }

th.ctd {
         width: 10%;
        }

td.dtd {
         width: 45%;
         text-align: left;
        }

th.dtd {
         width: 45%;

        }

td.cotd {
         text-align: center;
         width: 5%;
        }

th.cotd {
         text-align: center;
         width: 5%;
        }


div.todo_header {
                  width: 100%;
                  height: 96px;
                  text-align: center;

                }


div.todo_header h1 {
                       padding-top:1%;
                    }

div.project_detail {
                    margin-left: 10%;
                    margin-top: 1%;
                    color: #426984;
                    }

div.project_detail table {
                            width: 90%;
                            text-align: center;
                            border-collapse: collapse;
                            color: #426984;
                            font-weight: bold;

                           }

div.project_detail table a, td {
                                text-decoration: none;
                                color: #426984;
                                font-weight: bold;
                                vertical-align: top;
                               }

tr.subt_rows td, a {
                    font-weight: 200;
                    color: #5487AC;

                    }

tr.subt_rows {
               background-color: #e5f2fc;
               }

td.tddetalign {
                text-align: left;
                padding-left: 5%;
                width: 40%;
               }

div.project_form {
                    margin-left: auto;
                    margin-top: 5%;
                    width: 100%;
                    color: #8da4bf;
                   }

div.project_form table {
                           width: 60%;
                           font-size: 1.5em;
                           margin: auto;
                        }

div.project_form table td {
                           color: #8da4bf;
                           padding-top: 5px;
                        }


input[type=text] {
                    border-style:none;
                    border: 2px solid #8da4bf;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    width: 60%;
                    font-size: 1.1em;
                    color: #8da4bf;
                    }

input[type=number] {
                    border-style:none;
                    border: 2px solid #8da4bf;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    width: 10%;
                    font-size: 1.1em;
                    color: #8da4bf;
                    text-align: center;
                    }

textarea {
                    border-style:none;
                    border: 2px solid #8da4bf;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    width: 80%;
                    height: 200px;
                    font-size: 1.0em;
                    color: #8da4bf;
                    resize: none;
                    }


td.checkbox_np input[type=checkbox] {

}


div.task_table table {
                        margin-top: 10px;
                        display: none;
                        border-radius: 12px;
                        -webkit-border-radius: 12px;
                        border-collapse: collapse;
                        background-color: #e5f2fc;

                      }

div.task_table td {
                     vertical-align: middle;
                    }

div.task_table a {
                     text-decoration: none;
                    }

div.subtasks {
                background-color: white;
                text-align: left;
                padding-left: 10px;
                border: 1px solid #5487AC;
                border-radius: 12px;
                -webkit-border-radius: 12px;
                padding-top: 1px;
                padding-bottom: 1px;
              }

img.cbox {
            width: 30px;
            height: 30px;

          }

tr.completed  {
                background-color: #e8e8ea;
             }

tr.completed td  {
                   color: grey;
                }

.pbutton {
           width: 30%;
           height: 30px;
           border-radius: 8px;
           text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
           background-color: #8499b2;
           color: white;
           font-size: 0.8em;
}

 input[type="checkbox"]{

}

div.sub_deets{
               width: 40%;
               margin: auto;
}

div.incomplete_tasks{
                      width: 60%;
                      padding-top: 2%;
                      margin: auto;
}