{% extends 'base.html' %}
{% load staticfiles %}
{% load notes_app_filters %}
{% block head %}
    <title>Notes | Dissnitt</title>
    <link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock %}
{% block page_header %}
    <h1>{{ note.title }}</h1>
{% endblock %}
{% block sidepage %}
     <hr>
        <a href="{% url 'notes:new_note' %}">New Note</a>
    <hr>
    <a href="{% url 'notes:edit_note' note.id %}">Edit</a><br>
    <a href="{% url 'notes:delete_note' note.id %}">Delete</a>
        <h3 style="color: #304c89;" >Tags</h3>
    <div class="note_tags">
        {% for tag in tags %}
            <a href="{% url 'notes:by_tag' tag.id %}">{{tag.name}}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <p style="text-align: center;">Created: {{ note.created_date|date:"M d, Y" }}</p>
    <div class="dp_note_details">
        <p>
            {{ note.body }}
        </p>
        <div class="detail_tags">
            {% for tag in note.tags.all|sort_by_name %}
              <a href="{% url 'notes:by_tag' tag.id %}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="add_tags">
        <h3>Add Tag(s)</h3>
         <form method="POST">
             {% csrf_token %}
            <p>
                {{ form.non_field_errors }}
                {{ form.title.errors }}
            </p>
            <p>
                {{ form.name }}
            </p>
             <button class="nbutton" type="submit" >Add Tag</button>
         </form>
    </div>
{% endblock %}