{% extends 'base.html' %}
{% load staticfiles %}
{% load notes_app_filters %}
{% block head %}
    <title>Notes | Dissnitt</title>
    <link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
    <script type="text/javascript" src="{% static 'notes/javascript/notes.js' %}" ></script>
{% endblock %}
{% block page_header %}
    <h1>Notes</h1>
{% endblock %}
{% block sidepage %}
    <hr>
        <a href="{% url 'notes:new_note' %}">New Note</a>
    <hr>

    <h3 style="color: #304c89;" ><a href="{% url 'notes:tags' %}">Tags</a></h3>
    <div class="note_tags">
        {% for tag in tags %}
            <a href="{% url 'notes:by_tag' tag.id %}">{{tag.name}}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <div class="note_index">
        {% for note in note_list %}
            <p>
                <a class="note_title" href="{% url 'notes:detail' note.id %}">{{ note.title }}</a><br>
                    {{ note.created_date| date:"M d, Y" }}
                    | <a href="{% url 'notes:edit_note' note.id %}">Edit</a>
                    | <a href="{% url 'notes:delete_note' note.id %}">Delete</a>
                    |
                <a href="javascript:void(0)" onclick="toggleDetailsView('{{ note.id }}', 'link_{{ note.id }}')" id="link_{{note.id}}">
                    +Details
                </a>
            </p>
            <div class="note_details" id="{{note.id}}">
                <p class="note_body">
                    {{ note.body|truncatechars:100 }}
                </p>
                <div class="detail_tags">
                    {% for tag in note.tags.all|sort_by_name %}
                        <a href="{% url 'notes:by_tag' tag.id %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}