{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block head %}
    <title>Notes | Dissnitt</title>
{% endblock %}
{% block page_header %}
    <h1>Notes</h1>
{% endblock %}
{% block sidepage %}
<hr>
<a href="{% url 'notes:new_note' %}">New Note</a>
{% endblock %}
{% block content %}
    {% for note in note_list %}
        <p>
            Title: <a href="{% url 'notes:detail' note.id %}">{{ note.title }}</a>
        </p>
        <p>
            Body: {{ note.body }}
        </p>
            {% for tag in note.tags.all %}
            <p>
                {{ tag }}
            </p>
            {% endfor %}
        <p>
            <a href="{% url 'notes:edit_note' note.id %}">Edit</a>
            <a href="{% url 'notes:delete_note' note.id %}">Delete</a>
        </p>
    {% endfor %}
{% endblock %}