{% extends 'base.html' %}
{% load staticfiles %}
{% load notes_app_filters %}
{% block head %}
    <title>Notes | Dissnitt</title>
    <link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock %}

{% block sidepage %}
    <hr>
    <h3 style="color: #304c89;" ><a href="{% url 'notes:tags' %}">Tags</a></h3>
    {% for note in notes %}
        <a href="{% url 'notes:detail' note.id %}">{{ note.title }}</a><br>
    {% endfor %}

{% endblock %}

{% block page_header %}
<h1>Create a New Note</h1>

{% endblock %}

{% block content %}

<div class="note_form">
    <form method="POST">
        {% csrf_token %}
        <p>
            {{ form.non_field_errors }}
            {{ form.title.errors }}
        </p>
        <p>
            {{ form.title }}
        </p>
        <p>
            {{ form.body.errors }}
        </p>
        <p>
            {{ form.body }}
        </p>
        <p>
            <button class="nbutton" type="submit" >Create New Note</button>
        </p>
    </form>

</div>
{% endblock %}